<div>
  <form>
    <div class="row">
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label">IPS que diagnostica el caso</label>
        <select class="form-select rounded-pill" id="validationDefault04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label">Formula obstétrica</label>
        <select class="form-select rounded-pill" id="validationDefault04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label">Condición actual</label>
        <select class="form-select rounded-pill" id="validationDefault04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label">Edad gestacional (semanas)</label>
        <input type="number" class="form-control rounded-pill" id="validationDefault01" value="***" required>
      </div>
      <div class="col-md-4">
        <label for="validationDefault04" class="form-label">Antecedentes de ITS</label>
        <select class="form-select rounded-pill" id="validationDefault04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="validationDefault04" class="form-label">Tipo de antecedente</label>
        <select class="form-select rounded-pill" id="validationDefault04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="validationDefault04" class="form-label">Antedente de alergia a penicilina</label>
        <select class="form-select rounded-pill" id="validationDefault04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="validationDefault04" class="form-label">Tipo de prueba treponémica</label>
        <select class="form-select rounded-pill" id="validationDefault04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label">Resultados de prueba treponémica</label>
        <select class="form-select rounded-pill" id="validationDefault04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label">Fecha de prueba treponémica</label>
        <input type="date" class="form-control rounded-pill" id="validationDefault01" value="***" required>
      </div>
    </div>

    <!-- Boton de ver historia clinica -->
    <div class="d-flex flex-row-reverse py-4">
      <button class="btn btn-outline-primary col-md-2" type="submit">Guardar</button>
    </div>
  </form>

  <div class="col-12">
    <table class="table">
      <thead class="table-info">
        <tr>
          <th scope="col">Tipo de prueba treponémica</th>
          <th scope="col">Resultado de prueba treponémica</th>
          <th scope="col">Fecha de la prueba treponémica</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="py-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        ¿Se requiere realizar prueba NO treponémica?
      </label>
    </div>
  </div>
</div>
