<div>
  <!-- Titulo MD-LG-XL -->
  <div class="d-none d-md-block">
    <h4>Definición de casos</h4>
  </div>


  <div class="mt-6 p-6">
    <!-- Tabla de casos -->
    <div class="d-none d-md-block">
      <div class="d-flex flex-row-reverse py-2">
        <button class="btn btn-outline-primary rounded-circle border border-3 border-primary" type="button">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>

      <div class="col-12">
        <table class="table">
          <thead class="table-info">
            <tr>
              <th scope="col">N° de caso</th>
              <th scope="col">¿Caso confirmado de sífilis gestacional?</th>
              <th scope="col">Clasificación del caso</th>
              <th scope="col">Fecha</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td class="d-md-flex justify-content-md-center">
                <button type="button" class="btn btn-outline-primary btn-sm">
                  <i class="fa-regular fa-pen-to-square"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
