<div>
  <!-- Titulo MD-LG-XL -->
  <div class="d-none d-md-block">
    <h4>Consultar paciente</h4>
  </div>


  <div class="mt-3 p-0">
    <!-- Formulario de consulta -->
    <div class="d-none d-md-block">
      <form class="row g-3 align-items-end">
        <div class="col-md-3">
          <label for="validationDefault04" class="form-label">Tipo de documento *</label>
          <select class="form-select rounded-pill" id="validationDefault04" required>
            <option selected disabled value="">Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="validationDefault01" class="form-label">Número documento</label>
          <input type="number" class="form-control rounded-pill" id="validationDefault01" value="***" required>
        </div>

        <div class="col-md-2">
          <button class="btn btn-primary col-md-12" type="submit">CONSULTAR</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-outline-primary col-md-12" type="button">CREAR</button>
        </div>
      </form>
    </div>
  </div>
</div>
