<div class="bg-primary shadow">
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <!-- Menu izquierda -->
      <div class="nav justify-content-start col-md-4">
        <!-- Iconos MD-LG-XL -->
        <form class="d-flex">
          <a class="d-none d-md-block">
            <img src="./assets/images/Inicio.png" height="70" alt="" loading="lazy">
          </a>
          <div class="mx-md-1"></div>
          <div>
            <h2 class="text-blue">SISETMI</h2>
            <h6 class="text-blue">SISTEMA DE SEGUIMIENTO DE ELIMINACIÓN DE LA TRANSMISIÓN MATERNO INFANTIL PARA SÍFILIS</h6>
          </div>
        </form>
      </div>

      <!-- Menu centro -->
      <div class="nav justify-content-center col-md-5 text-center">
        <h3 class="text-white">SISETMI</h3>
        <h5 class="text-secondary">SISTEMA DE SEGUIMIENTO DE ELIMINACIÓN DE LA TRANSMISIÓN MATERNO INFANTIL PARA SÍFILIS</h5>
      </div>

      <div class="nav justify-content-end col-md-3">
        <form class="d-flex p-md-1 align-items-start">
          <a class="d-none d-md-block">
            <img src="./assets/images/LOGOS_PNG/LOGO ESCUDO SDS.png" height="95" alt="" loading="lazy">
          </a>
        </form>

        <form class="d-flex p-md-1">
          <ul class="nav nav-pills align-items-center">
            <li class="nav-item dropdown p-1">
              <button type="button" class="btn btn-primary rounded-pill border border-2 col-md-12" data-bs-toggle="dropdown" role="button"
                      aria-expanded="false">
                Usuario <span class="btn-label"><i class="fa-regular fa-user"></i></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end">
                <li><a class="dropdown-item">Cambiar contraseña</a></li>
                <li><a class="dropdown-item">Cerrar sesión</a></li>
              </ul>
            </li>

            <li class="nav-item p-1">
              <button type="button" class="btn btn-primary rounded-pill border border-2 col-md-12">
                <span>Rol: </span>Admin
              </button>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>

  <!-- Boton 'regresar' MD-LG-XL -->
  <div class="mx-5 d-none d-md-block">
    <div class="ml-5">

    </div>
  </div>
</div>
